# Week 1
First week exercise set

In [76]:
# Imports
import pandas as pd

## Python Exercises for Arithmetic, Variables and Printing

In [ ]:
# 1)

x1 = 12.34
y1 = "32.0"

print(x1 + float(y1))

# 2)

print("\n2+5")

# 3)

print(f"\n{8} + {4} equals {8+4}\n")

# 4)

# i.)
name = "Eero"
age = 30
is_manager = True
salary = 6500.50

# ii. - iii.)
for var in [name,age,is_manager,salary]:
    print(f"Variable {var}\tdatatype {type(var)}")

# 5)

# i.)
bread_price = 2.5
muffin_price = 1.2
bread_q = 120
muffin_q = 200

# ii.)
print(f"\nRevenue from bread: {bread_price*bread_q}")
print(f"Revenue from muffins {muffin_price*muffin_q}")
print(f"Total revenue: {(bread_price*bread_q)+(muffin_price*muffin_q)}")

44.34

2+5

8 + 4 equals 12

Variable Eero	datatype <class 'str'>
Variable 30	datatype <class 'int'>
Variable True	datatype <class 'bool'>
Variable 6500.5	datatype <class 'float'>

Revenue from bread: 300.0
Revenue from muffins 240.0
Total revenue: 540.0

## Python Exercises for Lists and List Operations

In [ ]:
# 1)

# a.)
rainfall = [2, 0.6, 33.8, 1.9, 9.6, 4.3, 23.7, 0.2, 0.1, 0.3]

# b.)
rainfall.append(14.3)

# c.)
print(max(rainfall))

# d.)
print(min(rainfall))

# e.)
print(sorted(rainfall))

# 2)

temperatures = [22, 24, 19, 21, 23, 20, 18]

# i.)
first_three_days = temperatures[:2]

# ii.)
last_two_days = temperatures[-2:]

# iii.)
every_other_day = [temp for i,temp in enumerate(temperatures) if i % 2 == 0]

# iv.)
print(f"Original list: {temperatures}\n")
print(f"First three days: {first_three_days}")
print(f"Last two days: {last_two_days}")
print(f"Every other day: {every_other_day}")

33.8
0.1
[0.1, 0.2, 0.3, 0.6, 1.9, 2, 4.3, 9.6, 14.3, 23.7, 33.8]
Original list: [22, 24, 19, 21, 23, 20, 18]

First three days: [22, 24]
Last two days: [20, 18]
Every other day: [22, 19, 23, 18]

## Python Exercises for Dataframes and Indexing

In [ ]:
# 1

# i.)
months = "Jan Feb Mar Apr May June".split()
rents = [1200 for _ in range(6)]
marketing = [800, 600, 1200, 700, 950, 1100]
salaries = [10000, 10000, 10500, 11200, 11400, 11600]

d = {"Month":months,
     "Rent":rents,
     "Marketing":marketing,
     "Salaries":salaries}

# ii.)
expenses = pd.DataFrame(data=d)

# iii.)
print(expenses.head()) # first five rows

# iv.)
print(expenses.iloc[0:2]) # first two rows

# v.)
mask1 = expenses["Month"] == "Mar"
print(expenses[mask1]) # March only

# vi.)
mask2 = expenses["Marketing"] > 1000
print(expenses[mask2])

# vii.)
print(expenses.loc[:,["Month","Salaries"]])

  Month  Rent  Marketing  Salaries
0   Jan  1200        800     10000
1   Feb  1200        600     10000
2   Mar  1200       1200     10500
3   Apr  1200        700     11200
4   May  1200        950     11400
  Month  Rent  Marketing  Salaries
0   Jan  1200        800     10000
1   Feb  1200        600     10000
  Month  Rent  Marketing  Salaries
2   Mar  1200       1200     10500
  Month  Rent  Marketing  Salaries
2   Mar  1200       1200     10500
5  June  1200       1100     11600
  Month  Salaries
0   Jan     10000
1   Feb     10000
2   Mar     10500
3   Apr     11200
4   May     11400
5  June     11600

In [ ]:
# 2)

# i.)
people = pd.read_csv("people.csv",sep=";")

# ii.)
print(people.head())
print(people.describe())
print(people.info())

   X    age  income  savings    education
0  1  20-40    1000      800  High School
1  2  20-40    2000      500          NaN
2  3  60-80    4000     3000   University
3  4  40-60    5000    12500   University
4  5  60-80    4000    10000  High School
               X       income       savings
count  30.000000    30.000000     30.000000
mean   15.500000  4033.333333   8596.666667
std     8.803408  1670.914128   8108.083805
min     1.000000  1000.000000    400.000000
25%     8.250000  3250.000000   3125.000000
50%    15.500000  4000.000000   5800.000000
75%    22.750000  5000.000000  12375.000000
max    30.000000  8000.000000  34000.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   X          30 non-null     int64
 1   age        30 non-null     object
 2   income     30 non-null     int64
 3   savings    30 non-null     int64
 4   education  27 non-null     object
dtypes: int64(3), object(2)
memory usage: 1.3+ KB
None

In [ ]:
# iii.)
mask3 = people["savings"] > 5000
print(people.loc[:,["age","education"]][mask3])

      age    education
3   40-60   University
4   60-80  High School
6   20-40   University
7   40-60   University
10  40-60   University
11  40-60   University
12  40-60  High School
14  20-40  High School
15  40-60   University
16  40-60   University
19  60-80  High School
20  40-60   University
21  40-60   University
24  40-60  High School
28  40-60   University
29  20-40   University

In [ ]:
# iv.)
mask4 = ((people["age"] == "60-80") & (people["education"] == "University"))
print(people.loc[:,["income","savings"]][mask4])

   income  savings
2    4000     3000