# Week 2

In [370]:
# Imports
import pandas as pd

## Python exercises for user-defined functions, if-statements, FOR, and WHILE loops

In [371]:
# 1
def calaverage(a: int | float, b: int | float) -> float:
    """Returns the average of two numbers."""

    return (a+b)/2

# 2
def grade_student(score: int) -> str:
    """Returns letter grade corresponding to the score."""

    if score < 50 and score >= 0:
        return "F"
    elif score < 60:
        return "E"
    elif score < 70:
        return "D"
    elif score < 80:
        return "C"
    elif score < 90:
        return "B"
    elif score <= 100:
        return "A"
    else:
        return "The score must be between 0 and 100."

for i in [85, 92, 78]:
    print(f"Score {i}, grade {grade_student(i)}")

# 3
print() # for separating the outputs of exercise 2 and 3
temperatures = [22, 24, 19, 21, 23, 20, 18]

for temp in temperatures:
    if temp >= 21:
        print(f"Temperature {temp} is high")
    else:
        print(f"Temperature {temp} is normal or low")

Score 85, grade B
Score 92, grade A
Score 78, grade C

Temperature 22 is high
Temperature 24 is high
Temperature 19 is normal or low
Temperature 21 is high
Temperature 23 is high
Temperature 20 is normal or low
Temperature 18 is normal or low

In [372]:
# 4
# i)
d = {"Month": "Jan Feb Mar Apr May June".split(),
     "Rent": [1200 for _ in range(6)],
     "Marketing": [800, 600, 1200, 700, 950, 1100],
     "Salaries": [10000, 10000, 10500, 11200, 11400, 11600]}

# ii)
expenses = pd.DataFrame(d)

# iii)
for col in expenses.columns:
    print(col)

# iv)
print()
for i in range(len(expenses)):
    total = expenses.iloc[i,1] + expenses.iloc[i,2] + expenses.iloc[i,3]
    print(f"{expenses.iloc[i,0]} total expenses: {total}")

Month
Rent
Marketing
Salaries

Jan total expenses: 12000
Feb total expenses: 11800
Mar total expenses: 12900
Apr total expenses: 13100
May total expenses: 13550
June total expenses: 13900

In [373]:
# 5
for i in range(1,21):
    if i % 2 == 0: print(i)

# 6
print()
product_price = 200

while product_price != 150:
    print(product_price)
    product_price -= 10
    if product_price == 150: print(product_price)

2
4
6
8
10
12
14
16
18
20

200
190
180
170
160
150

In [374]:
# 7
salary = 30000
y_count = 0

while salary <= 50000:
    salary *= 1.03
    y_count += 1

print(f"It takes {y_count} years to reach a salary of 50000.")

It takes 18 years to reach a salary of 50000.

In [375]:
# 8
def apply_discount(price: int | float, discount: int | float) -> float:
    """Returns the discounted price based on price and discount percent."""

    return price * ((100 - discount)/100)

product_prices = [100, 250, 80, 150]
discount_rate = 10 # 10% discount

for p in product_prices:
    print(apply_discount(p,discount_rate))

90.0
225.0
72.0
135.0

## Python exercises for combining DataFrames

In [376]:
# 1

# i
apple_df = pd.read_csv("Apple.csv",sep=",")
microsoft_df = pd.read_csv("Microsoft.csv",sep=",")

# ii)
print("Apple:")
print(apple_df.head())
print(apple_df.info())
print(apple_df.describe())

print("\nMicrosoft:")
print(microsoft_df.head())
print(microsoft_df.info())
print(microsoft_df.describe())

Apple:
         Date Close/Last    Volume      Open       High        Low Company
0  09/08/2025    $237.88  48999500   $239.30    $240.15    $236.34   Apple
1  09/05/2025    $239.69  54870400  $239.995    $241.32  $238.4901   Apple
2  09/04/2025    $239.78  47549430   $238.45  $239.8999    $236.74   Apple
3  09/03/2025    $238.47  66427840   $237.21    $238.85    $234.36   Apple
4  09/02/2025    $229.72  44075640   $229.25    $230.85    $226.97   Apple
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        10 non-null     object
 1   Close/Last  10 non-null     object
 2   Volume      10 non-null     int64
 3   Open        10 non-null     object
 4   High        10 non-null     object
 5   Low         10 non-null     object
 6   Company     10 non-null     object
dtypes: int64(1), object(6)
memory usage: 692.0+ bytes
None
             Volume
count  1.000000e+01
mean   4.562337e+07
std    1.121562e+07
min    3.098313e+07
25%    3.841064e+07
50%    4.581254e+07
75%    5.318121e+07
max    6.642784e+07

Microsoft:
         Date Close/Last    Volume      Open      High      Low    Company
0  09/08/2025    $498.20  16771020  $498.105  $501.195  $495.03  Microsoft
1  09/05/2025    $495.00  31994850   $509.07   $511.97  $492.37  Microsoft
2  09/04/2025    $507.97  15509490   $504.30   $508.15  $503.15  Microsoft
3  09/03/2025    $505.35  16345080   $503.79   $507.79  $502.32  Microsoft
4  09/02/2025    $505.12  18128000  $500.465   $506.00  $496.81  Microsoft
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        10 non-null     object
 1   Close/Last  10 non-null     object
 2   Volume      10 non-null     int64
 3   Open        10 non-null     object
 4   High        10 non-null     object
 5   Low         10 non-null     object
 6   Company     10 non-null     object
dtypes: int64(1), object(6)
memory usage: 692.0+ bytes
None
             Volume
count  1.000000e+01
mean   2.074778e+07
std    5.945198e+06
min    1.550949e+07
25%    1.689774e+07
50%    1.807180e+07
75%    2.146933e+07
max    3.199485e+07

In [377]:
# iii)
# axis = 0 stack rows
df_vertical = pd.concat([apple_df,microsoft_df],ignore_index=True)
print(df_vertical)

# iv)
# axis = 1 expand columns
df_horizontal = pd.concat([apple_df,microsoft_df],axis=1,ignore_index=True)
print(df_horizontal)

          Date Close/Last    Volume      Open       High        Low    Company
0   09/08/2025    $237.88  48999500   $239.30    $240.15    $236.34      Apple
1   09/05/2025    $239.69  54870400  $239.995    $241.32  $238.4901      Apple
2   09/04/2025    $239.78  47549430   $238.45  $239.8999    $236.74      Apple
3   09/03/2025    $238.47  66427840   $237.21    $238.85    $234.36      Apple
4   09/02/2025    $229.72  44075640   $229.25    $230.85    $226.97      Apple
5   08/29/2025    $232.14  39418440   $232.51    $233.38    $231.37      Apple
6   08/28/2025    $232.56  38074700   $230.82    $233.41   $229.335      Apple
7   08/27/2025    $230.49  31259510   $228.61    $230.90    $228.26      Apple
8   08/26/2025    $229.31  54575110   $226.87    $229.49    $224.69      Apple
9   08/25/2025    $227.16  30983130   $226.48    $229.30    $226.23      Apple
10  09/08/2025    $498.20  16771020  $498.105   $501.195    $495.03  Microsoft
11  09/05/2025    $495.00  31994850   $509.07    $511.97    $492.37  Microsoft
12  09/04/2025    $507.97  15509490   $504.30    $508.15    $503.15  Microsoft
13  09/03/2025    $505.35  16345080   $503.79    $507.79    $502.32  Microsoft
14  09/02/2025    $505.12  18128000  $500.465    $506.00    $496.81  Microsoft
15  08/29/2025    $506.69  20961570   $508.66    $509.60  $504.4915  Microsoft
16  08/28/2025    $509.64  18015590   $507.09    $511.09    $505.50  Microsoft
17  08/27/2025    $506.74  17277890   $502.00    $507.29    $499.90  Microsoft
18  08/26/2025    $502.04  30835710  $504.355  $504.9778    $498.51  Microsoft
19  08/25/2025    $504.26  21638580   $506.63    $508.19    $504.12  Microsoft
           0        1         2         3          4          5      6   \
0  09/08/2025  $237.88  48999500   $239.30    $240.15    $236.34  Apple
1  09/05/2025  $239.69  54870400  $239.995    $241.32  $238.4901  Apple
2  09/04/2025  $239.78  47549430   $238.45  $239.8999    $236.74  Apple
3  09/03/2025  $238.47  66427840   $237.21    $238.85    $234.36  Apple
4  09/02/2025  $229.72  44075640   $229.25    $230.85    $226.97  Apple
5  08/29/2025  $232.14  39418440   $232.51    $233.38    $231.37  Apple
6  08/28/2025  $232.56  38074700   $230.82    $233.41   $229.335  Apple
7  08/27/2025  $230.49  31259510   $228.61    $230.90    $228.26  Apple
8  08/26/2025  $229.31  54575110   $226.87    $229.49    $224.69  Apple
9  08/25/2025  $227.16  30983130   $226.48    $229.30    $226.23  Apple

           7        8         9         10         11         12         13
0  09/08/2025  $498.20  16771020  $498.105   $501.195    $495.03  Microsoft
1  09/05/2025  $495.00  31994850   $509.07    $511.97    $492.37  Microsoft
2  09/04/2025  $507.97  15509490   $504.30    $508.15    $503.15  Microsoft
3  09/03/2025  $505.35  16345080   $503.79    $507.79    $502.32  Microsoft
4  09/02/2025  $505.12  18128000  $500.465    $506.00    $496.81  Microsoft
5  08/29/2025  $506.69  20961570   $508.66    $509.60  $504.4915  Microsoft
6  08/28/2025  $509.64  18015590   $507.09    $511.09    $505.50  Microsoft
7  08/27/2025  $506.74  17277890   $502.00    $507.29    $499.90  Microsoft
8  08/26/2025  $502.04  30835710  $504.355  $504.9778    $498.51  Microsoft
9  08/25/2025  $504.26  21638580   $506.63    $508.19    $504.12  Microsoft

In [378]:
# v)
df_inner_merge = pd.merge(apple_df,microsoft_df,how="inner",on="Date")
print(df_inner_merge)

         Date Close/Last_x  Volume_x    Open_x     High_x      Low_x  \
0  09/08/2025      $237.88  48999500   $239.30    $240.15    $236.34
1  09/05/2025      $239.69  54870400  $239.995    $241.32  $238.4901
2  09/04/2025      $239.78  47549430   $238.45  $239.8999    $236.74
3  09/03/2025      $238.47  66427840   $237.21    $238.85    $234.36
4  09/02/2025      $229.72  44075640   $229.25    $230.85    $226.97
5  08/29/2025      $232.14  39418440   $232.51    $233.38    $231.37
6  08/28/2025      $232.56  38074700   $230.82    $233.41   $229.335
7  08/27/2025      $230.49  31259510   $228.61    $230.90    $228.26
8  08/26/2025      $229.31  54575110   $226.87    $229.49    $224.69
9  08/25/2025      $227.16  30983130   $226.48    $229.30    $226.23

  Company_x Close/Last_y  Volume_y    Open_y     High_y      Low_y  Company_y
0     Apple      $498.20  16771020  $498.105   $501.195    $495.03  Microsoft
1     Apple      $495.00  31994850   $509.07    $511.97    $492.37  Microsoft
2     Apple      $507.97  15509490   $504.30    $508.15    $503.15  Microsoft
3     Apple      $505.35  16345080   $503.79    $507.79    $502.32  Microsoft
4     Apple      $505.12  18128000  $500.465    $506.00    $496.81  Microsoft
5     Apple      $506.69  20961570   $508.66    $509.60  $504.4915  Microsoft
6     Apple      $509.64  18015590   $507.09    $511.09    $505.50  Microsoft
7     Apple      $506.74  17277890   $502.00    $507.29    $499.90  Microsoft
8     Apple      $502.04  30835710  $504.355  $504.9778    $498.51  Microsoft
9     Apple      $504.26  21638580   $506.63    $508.19    $504.12  Microsoft

In [379]:
# vi)
df_left_merge = pd.merge(apple_df,microsoft_df,how="left",on="Date")
print(df_left_merge)

         Date Close/Last_x  Volume_x    Open_x     High_x      Low_x  \
0  09/08/2025      $237.88  48999500   $239.30    $240.15    $236.34
1  09/05/2025      $239.69  54870400  $239.995    $241.32  $238.4901
2  09/04/2025      $239.78  47549430   $238.45  $239.8999    $236.74
3  09/03/2025      $238.47  66427840   $237.21    $238.85    $234.36
4  09/02/2025      $229.72  44075640   $229.25    $230.85    $226.97
5  08/29/2025      $232.14  39418440   $232.51    $233.38    $231.37
6  08/28/2025      $232.56  38074700   $230.82    $233.41   $229.335
7  08/27/2025      $230.49  31259510   $228.61    $230.90    $228.26
8  08/26/2025      $229.31  54575110   $226.87    $229.49    $224.69
9  08/25/2025      $227.16  30983130   $226.48    $229.30    $226.23

  Company_x Close/Last_y  Volume_y    Open_y     High_y      Low_y  Company_y
0     Apple      $498.20  16771020  $498.105   $501.195    $495.03  Microsoft
1     Apple      $495.00  31994850   $509.07    $511.97    $492.37  Microsoft
2     Apple      $507.97  15509490   $504.30    $508.15    $503.15  Microsoft
3     Apple      $505.35  16345080   $503.79    $507.79    $502.32  Microsoft
4     Apple      $505.12  18128000  $500.465    $506.00    $496.81  Microsoft
5     Apple      $506.69  20961570   $508.66    $509.60  $504.4915  Microsoft
6     Apple      $509.64  18015590   $507.09    $511.09    $505.50  Microsoft
7     Apple      $506.74  17277890   $502.00    $507.29    $499.90  Microsoft
8     Apple      $502.04  30835710  $504.355  $504.9778    $498.51  Microsoft
9     Apple      $504.26  21638580   $506.63    $508.19    $504.12  Microsoft

In [380]:
# vii)
df_outer_merge = pd.merge(apple_df,microsoft_df,how="outer",on="Date")
print(df_outer_merge)

         Date Close/Last_x  Volume_x    Open_x     High_x      Low_x  \
0  08/25/2025      $227.16  30983130   $226.48    $229.30    $226.23
1  08/26/2025      $229.31  54575110   $226.87    $229.49    $224.69
2  08/27/2025      $230.49  31259510   $228.61    $230.90    $228.26
3  08/28/2025      $232.56  38074700   $230.82    $233.41   $229.335
4  08/29/2025      $232.14  39418440   $232.51    $233.38    $231.37
5  09/02/2025      $229.72  44075640   $229.25    $230.85    $226.97
6  09/03/2025      $238.47  66427840   $237.21    $238.85    $234.36
7  09/04/2025      $239.78  47549430   $238.45  $239.8999    $236.74
8  09/05/2025      $239.69  54870400  $239.995    $241.32  $238.4901
9  09/08/2025      $237.88  48999500   $239.30    $240.15    $236.34

  Company_x Close/Last_y  Volume_y    Open_y     High_y      Low_y  Company_y
0     Apple      $504.26  21638580   $506.63    $508.19    $504.12  Microsoft
1     Apple      $502.04  30835710  $504.355  $504.9778    $498.51  Microsoft
2     Apple      $506.74  17277890   $502.00    $507.29    $499.90  Microsoft
3     Apple      $509.64  18015590   $507.09    $511.09    $505.50  Microsoft
4     Apple      $506.69  20961570   $508.66    $509.60  $504.4915  Microsoft
5     Apple      $505.12  18128000  $500.465    $506.00    $496.81  Microsoft
6     Apple      $505.35  16345080   $503.79    $507.79    $502.32  Microsoft
7     Apple      $507.97  15509490   $504.30    $508.15    $503.15  Microsoft
8     Apple      $495.00  31994850   $509.07    $511.97    $492.37  Microsoft
9     Apple      $498.20  16771020  $498.105   $501.195    $495.03  Microsoft

In [381]:
# viii)
df_list = [df_vertical,df_horizontal,df_inner_merge,df_left_merge,df_outer_merge]
df_names = "Vertical Horizontal Inner Left Outer".split()
df_dict = dict(zip(df_names,df_list))
for key, df in df_dict.items():
    print(f"{key}:\nNumber of rows {len(df)}")
    try:
        print(f"Date column:\n{list(df["Date"])}\n")
    except:
        print(f"0 column:\n{list(df[0])}\n")

Vertical:
Number of rows 20
Date column:
['09/08/2025', '09/05/2025', '09/04/2025', '09/03/2025', '09/02/2025', '08/29/2025', '08/28/2025', '08/27/2025', '08/26/2025', '08/25/2025', '09/08/2025', '09/05/2025', '09/04/2025', '09/03/2025', '09/02/2025', '08/29/2025', '08/28/2025', '08/27/2025', '08/26/2025', '08/25/2025']

Horizontal:
Number of rows 10
0 column:
['09/08/2025', '09/05/2025', '09/04/2025', '09/03/2025', '09/02/2025', '08/29/2025', '08/28/2025', '08/27/2025', '08/26/2025', '08/25/2025']

Inner:
Number of rows 10
Date column:
['09/08/2025', '09/05/2025', '09/04/2025', '09/03/2025', '09/02/2025', '08/29/2025', '08/28/2025', '08/27/2025', '08/26/2025', '08/25/2025']

Left:
Number of rows 10
Date column:
['09/08/2025', '09/05/2025', '09/04/2025', '09/03/2025', '09/02/2025', '08/29/2025', '08/28/2025', '08/27/2025', '08/26/2025', '08/25/2025']

Outer:
Number of rows 10
Date column:
['08/25/2025', '08/26/2025', '08/27/2025', '08/28/2025', '08/29/2025', '09/02/2025', '09/03/2025', '09/04/2025', '09/05/2025', '09/08/2025']

In [382]:
# 2

# i)
apple_df.set_index(apple_df["Date"],inplace=True)
microsoft_df.set_index(microsoft_df["Date"],inplace=True)
apple_df.drop(columns=["Date"],inplace=True)
microsoft_df.drop(columns=["Date"],inplace=True)

# Check
print(apple_df)
print(microsoft_df)

# ii)
df_joined = apple_df.join(microsoft_df, how="left",lsuffix="_left",rsuffix="_right")

# iii)
df_joined_inner = apple_df.join(microsoft_df,how="inner",lsuffix="_left",rsuffix="_right")

# iv)
df_joined_outer = apple_df.join(microsoft_df,how="outer",lsuffix="_left",rsuffix="_right")

           Close/Last    Volume      Open       High        Low Company
Date
09/08/2025    $237.88  48999500   $239.30    $240.15    $236.34   Apple
09/05/2025    $239.69  54870400  $239.995    $241.32  $238.4901   Apple
09/04/2025    $239.78  47549430   $238.45  $239.8999    $236.74   Apple
09/03/2025    $238.47  66427840   $237.21    $238.85    $234.36   Apple
09/02/2025    $229.72  44075640   $229.25    $230.85    $226.97   Apple
08/29/2025    $232.14  39418440   $232.51    $233.38    $231.37   Apple
08/28/2025    $232.56  38074700   $230.82    $233.41   $229.335   Apple
08/27/2025    $230.49  31259510   $228.61    $230.90    $228.26   Apple
08/26/2025    $229.31  54575110   $226.87    $229.49    $224.69   Apple
08/25/2025    $227.16  30983130   $226.48    $229.30    $226.23   Apple
           Close/Last    Volume      Open       High        Low    Company
Date
09/08/2025    $498.20  16771020  $498.105   $501.195    $495.03  Microsoft
09/05/2025    $495.00  31994850   $509.07    $511.97    $492.37  Microsoft
09/04/2025    $507.97  15509490   $504.30    $508.15    $503.15  Microsoft
09/03/2025    $505.35  16345080   $503.79    $507.79    $502.32  Microsoft
09/02/2025    $505.12  18128000  $500.465    $506.00    $496.81  Microsoft
08/29/2025    $506.69  20961570   $508.66    $509.60  $504.4915  Microsoft
08/28/2025    $509.64  18015590   $507.09    $511.09    $505.50  Microsoft
08/27/2025    $506.74  17277890   $502.00    $507.29    $499.90  Microsoft
08/26/2025    $502.04  30835710  $504.355  $504.9778    $498.51  Microsoft
08/25/2025    $504.26  21638580   $506.63    $508.19    $504.12  Microsoft

In [ ]:
# v)
join_dict = {"Left":df_joined,
             "Inner":df_joined_inner,
             "Outer":df_joined_outer}

for key, df in join_dict.items():
    print(f"{key}:\nNumber of rows: {len(df)}\n")

# No differences since the index is the same in both dataframes.

Left:
Number of rows: 10

Inner:
Number of rows: 10

Outer:
Number of rows: 10