# Week 4

In [243]:
# Imports
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
import numpy as np

## Python exercises for data preprocessing

In [244]:
# 1
airdata = pd.read_csv("airdata.csv",sep=",")

print(f"{airdata.describe()}")
print(f"\n{airdata.info()}")
print(f"\n{airdata.head()}")

       Temperature     Humidity   Wind_Speed  Wind_Direction  NO2_Location_A  \
count  8784.000000  8784.000000  8784.000000     8784.000000     8664.000000
mean     13.110913    66.679417    11.279210      197.595605       22.047992
std       7.363943    14.871943     8.443103       91.961627       15.597173
min      -2.789471    20.000000     0.000000        1.218872       -0.460000
25%       7.360529    56.000000     5.506941      116.565050       10.600000
50%      12.680529    68.000000     8.891343      206.138925       17.550000
75%      18.553030    78.000000    14.720416      272.503370       29.300000
max      33.870530    98.000000    65.446770      360.000000      116.600000

       NO2_Location_B  NO2_Location_C
count     8204.000000     8652.000000
mean        29.000569       45.347931
std         20.630746       26.735531
min          0.430000        0.150000
25%         13.900000       24.030000
50%         22.750000       40.550000
75%         38.607500       62.122500
max        151.850000      168.280000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTime        8784 non-null   object
 1   Temperature     8784 non-null   float64
 2   Humidity        8784 non-null   int64
 3   Wind_Speed      8784 non-null   float64
 4   Wind_Direction  8784 non-null   float64
 5   NO2_Location_A  8664 non-null   float64
 6   NO2_Location_B  8204 non-null   float64
 7   NO2_Location_C  8652 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 549.1+ KB

None

        DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0  1/1/2020 0:00     2.180529        87    1.484318       75.963760
1  1/1/2020 1:00     1.490529        89    2.741678      113.198590
2  1/1/2020 2:00     1.690529        85    3.563818      135.000000
3  1/1/2020 3:00     1.430529        84    2.811690      129.805570
4  1/1/2020 4:00     0.840529        86    1.800000      126.869896

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80
3           37.28           47.18           50.80
4           29.97           41.48           54.43

In [245]:
# i)
print("Initial Check:")
print(airdata.isnull().sum())
# ii)
airdata["NO2_Location_B"] = airdata["NO2_Location_B"].fillna(airdata["NO2_Location_B"].mean())

print("\nAfter imputing:")
print(airdata.isnull().sum())

airdata.dropna(inplace=True)

print("\nAfter dropping:")
print(airdata.isnull().sum())

Initial Check:
DateTime            0
Temperature         0
Humidity            0
Wind_Speed          0
Wind_Direction      0
NO2_Location_A    120
NO2_Location_B    580
NO2_Location_C    132
dtype: int64

After imputing:
DateTime            0
Temperature         0
Humidity            0
Wind_Speed          0
Wind_Direction      0
NO2_Location_A    120
NO2_Location_B      0
NO2_Location_C    132
dtype: int64

After dropping:
DateTime          0
Temperature       0
Humidity          0
Wind_Speed        0
Wind_Direction    0
NO2_Location_A    0
NO2_Location_B    0
NO2_Location_C    0
dtype: int64

In [246]:
# 2
kidney_disease = pd.read_csv("kidney_disease.csv",sep=",")

print(f"{kidney_disease.describe()}")
print(f"\n{kidney_disease.info()}")
print(f"\n{kidney_disease.head()}")

               rc          sc         pcv          sg        hemo
count  269.000000  383.000000  329.000000  353.000000  348.000000
mean     4.707435    3.072454   38.884498    1.017408   12.526437
std      1.025323    5.741126    8.990105    0.005717    2.912587
min      2.100000    0.400000    9.000000    1.005000    3.100000
25%      3.900000    0.900000   32.000000    1.010000   10.300000
50%      4.800000    1.300000   40.000000    1.020000   12.650000
75%      5.400000    2.800000   45.000000    1.020000   15.000000
max      8.000000   76.000000   54.000000    1.025000   17.800000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rc         269 non-null    float64
 1   sc         383 non-null    float64
 2   pcv        329 non-null    float64
 3   sg         353 non-null    float64
 4   hemo       348 non-null    float64
 5   diagnosis  400 non-null    object
dtypes: float64(5), object(1)
memory usage: 18.9+ KB

None

    rc   sc   pcv     sg  hemo diagnosis
0  5.2  1.2  44.0  1.020  15.4       ckd
1  NaN  0.8  38.0  1.020  11.3       ckd
2  NaN  1.8  31.0  1.010   9.6       ckd
3  3.9  3.8  32.0  1.005  11.2       ckd
4  4.6  1.4  35.0  1.010  11.6       ckd

In [247]:
# i)
print(f"Duplicate rows: {kidney_disease.duplicated().sum()}")

# ii)
kidney_disease.drop_duplicates(inplace=True)
print(f"Duplicate rows after dropping: {kidney_disease.duplicated().sum()}")

Duplicate rows: 10
Duplicate rows after dropping: 0

In [248]:
# 3
responses = pd.read_csv("responses.csv",sep=",")

print(f"{responses.describe()}")
print(f"\n{responses.info()}")
print(f"\n{responses.head()}")

responses_cols = responses.columns.to_list()
print(responses_cols)

             Music  Slow songs or fast songs        Dance         Folk  \
count  1007.000000               1008.000000  1006.000000  1005.000000
mean      4.731877                  3.328373     3.113320     2.288557
std       0.664049                  0.833931     1.170568     1.138916
min       1.000000                  1.000000     1.000000     1.000000
25%       5.000000                  3.000000     2.000000     1.000000
50%       5.000000                  3.000000     3.000000     2.000000
75%       5.000000                  4.000000     4.000000     3.000000
max       5.000000                  5.000000     5.000000     5.000000

           Country  Classical music      Musical          Pop         Rock  \
count  1005.000000      1003.000000  1008.000000  1007.000000  1004.000000
mean      2.123383         2.956132     2.761905     3.471698     3.761952
std       1.076136         1.252570     1.260845     1.161400     1.184861
min       1.000000         1.000000     1.000000     1.000000     1.000000
25%       1.000000         2.000000     2.000000     3.000000     3.000000
50%       2.000000         3.000000     3.000000     4.000000     4.000000
75%       3.000000         4.000000     4.000000     4.000000     5.000000
max       5.000000         5.000000     5.000000     5.000000     5.000000

       Metal or Hardrock  ...  Shopping centres  Branded clothing  \
count        1007.000000  ...       1008.000000       1008.000000
mean            2.361470  ...          3.234127          3.050595
std             1.372995  ...          1.323062          1.306321
min             1.000000  ...          1.000000          1.000000
25%             1.000000  ...          2.000000          2.000000
50%             2.000000  ...          3.000000          3.000000
75%             3.000000  ...          4.000000          4.000000
max             5.000000  ...          5.000000          5.000000

       Entertainment spending  Spending on looks  Spending on gadgets  \
count             1007.000000        1007.000000          1010.000000
mean                 3.201589           3.106256             2.870297
std                  1.188947           1.205368             1.284970
min                  1.000000           1.000000             1.000000
25%                  2.000000           2.000000             2.000000
50%                  3.000000           3.000000             3.000000
75%                  4.000000           4.000000             4.000000
max                  5.000000           5.000000             5.000000

       Spending on healthy eating          Age      Height      Weight  \
count                  1008.00000  1003.000000  990.000000  990.000000
mean                      3.55754    20.433699  173.514141   66.405051
std                       1.09375     2.828840   10.024505   13.839561
min                       1.00000    15.000000   62.000000   41.000000
25%                       3.00000    19.000000  167.000000   55.000000
50%                       4.00000    20.000000  173.000000   64.000000
75%                       4.00000    22.000000  180.000000   75.000000
max                       5.00000    30.000000  203.000000  165.000000

       Number of siblings
count         1004.000000
mean             1.297809
std              1.013348
min              0.000000
25%              1.000000
50%              1.000000
75%              2.000000
max             10.000000

[8 rows x 139 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Columns: 150 entries, Music to House - block of flats
dtypes: float64(134), int64(5), object(11)
memory usage: 1.2+ MB

None

   Music  Slow songs or fast songs  Dance  Folk  Country  Classical music  \
0    5.0                       3.0    2.0   1.0      2.0              2.0
1    4.0                       4.0    2.0   1.0      1.0              1.0
2    5.0                       5.0    2.0   2.0      3.0              4.0
3    5.0                       3.0    2.0   1.0      1.0              1.0
4    5.0                       3.0    4.0   3.0      2.0              4.0

   Musical  Pop  Rock  Metal or Hardrock  ...   Age  Height  Weight  \
0      1.0  5.0   5.0                1.0  ...  20.0   163.0    48.0
1      2.0  3.0   5.0                4.0  ...  19.0   163.0    58.0
2      5.0  3.0   5.0                3.0  ...  20.0   176.0    67.0
3      1.0  2.0   2.0                1.0  ...  22.0   172.0    59.0
4      3.0  5.0   3.0                1.0  ...  20.0   170.0    59.0

   Number of siblings  Gender  Left - right handed                Education  \
0                 1.0  female         right handed  college/bachelor degree
1                 2.0  female         right handed  college/bachelor degree
2                 2.0  female         right handed         secondary school
3                 1.0  female         right handed  college/bachelor degree
4                 1.0  female         right handed         secondary school

   Only child  Village - town  House - block of flats
0          no         village          block of flats
1          no            city          block of flats
2          no            city          block of flats
3         yes            city          house/bungalow
4          no         village          house/bungalow

[5 rows x 150 columns]
['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 'Country', 'Classical music', 'Musical', 'Pop', 'Rock', 'Metal or Hardrock', 'Punk', 'Hiphop, Rap', 'Reggae, Ska', 'Swing, Jazz', 'Rock n roll', 'Alternative', 'Latino', 'Techno, Trance', 'Opera', 'Movies', 'Horror', 'Thriller', 'Comedy', 'Romantic', 'Sci-fi', 'War', 'Fantasy/Fairy tales', 'Animated', 'Documentary', 'Western', 'Action', 'History', 'Psychology', 'Politics', 'Mathematics', 'Physics', 'Internet', 'PC', 'Economy Management', 'Biology', 'Chemistry', 'Reading', 'Geography', 'Foreign languages', 'Medicine', 'Law', 'Cars', 'Art exhibitions', 'Religion', 'Countryside, outdoors', 'Dancing', 'Musical instruments', 'Writing', 'Passive sport', 'Active sport', 'Gardening', 'Celebrities', 'Shopping', 'Science and technology', 'Theatre', 'Fun with friends', 'Adrenaline sports', 'Pets', 'Flying', 'Storm', 'Darkness', 'Heights', 'Spiders', 'Snakes', 'Rats', 'Ageing', 'Dangerous dogs', 'Fear of public speaking', 'Smoking', 'Alcohol', 'Healthy eating', 'Daily events', 'Prioritising workload', 'Writing notes', 'Workaholism', 'Thinking ahead', 'Final judgement', 'Reliability', 'Keeping promises', 'Loss of interest', 'Friends versus money', 'Funniness', 'Fake', 'Criminal damage', 'Decision making', 'Elections', 'Self-criticism', 'Judgment calls', 'Hypochondria', 'Empathy', 'Eating to survive', 'Giving', 'Compassion to animals', 'Borrowed stuff', 'Loneliness', 'Cheating in school', 'Health', 'Changing the past', 'God', 'Dreams', 'Charity', 'Number of friends', 'Punctuality', 'Lying', 'Waiting', 'New environment', 'Mood swings', 'Appearence and gestures', 'Socializing', 'Achievements', 'Responding to a serious letter', 'Children', 'Assertiveness', 'Getting angry', 'Knowing the right people', 'Public speaking', 'Unpopularity', 'Life struggles', 'Happiness in life', 'Energy levels', 'Small - big dogs', 'Personality', 'Finding lost valuables', 'Getting up', 'Interests or hobbies', "Parents' advice", 'Questionnaires or polls', 'Internet usage', 'Finances', 'Shopping centres', 'Branded clothing', 'Entertainment spending', 'Spending on looks', 'Spending on gadgets', 'Spending on healthy eating', 'Age', 'Height', 'Weight', 'Number of siblings', 'Gender', 'Left - right handed', 'Education', 'Only child', 'Village - town', 'House - block of flats']

In [249]:
# i)
responses.dropna(inplace=True)

# ii)
responses_encoded = pd.get_dummies(responses,columns=["Gender"],dtype=int)

# iii)
education_order = ["currently a primary school pupil","primary school",
                   "secondary school","college/bachelor degree",
                   "masters degree","doctorate degree"]

encoder = OrdinalEncoder(categories=[education_order])

responses_encoded["Education_code"] = encoder.fit_transform(responses_encoded[["Education"]]).astype(int)

# iv)
print(responses_encoded[["Education","Education_code"]].drop_duplicates())

                            Education  Education_code
0             college/bachelor degree               3
2                    secondary school               2
11                     primary school               1
33                     masters degree               4
156                  doctorate degree               5
158  currently a primary school pupil               0

In [250]:
# 4
loans = pd.read_csv("loans.csv",sep=",")

print(f"{loans.describe()}")
print(f"\n{loans.info()}")
print(f"\n{loans.head()}")

          client_id   loan_amount      repaid       loan_id        rate
count    443.000000    443.000000  443.000000    443.000000  443.000000
mean   38911.060948   7982.311512    0.534989  11017.101580    3.217156
std     7768.681063   4172.891992    0.499338    581.826222    2.397168
min    25707.000000    559.000000    0.000000  10009.000000    0.010000
25%    32885.000000   4232.500000    0.000000  10507.500000    1.220000
50%    39505.000000   8320.000000    1.000000  11033.000000    2.780000
75%    46109.000000  11739.000000    1.000000  11526.000000    4.750000
max    49624.000000  14971.000000    1.000000  11991.000000   12.620000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   client_id    443 non-null    int64
 1   loan_type    443 non-null    object
 2   loan_amount  443 non-null    int64
 3   repaid       443 non-null    int64
 4   loan_id      443 non-null    int64
 5   loan_start   443 non-null    object
 6   loan_end     443 non-null    object
 7   rate         443 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 27.8+ KB

None

   client_id loan_type  loan_amount  repaid  loan_id  loan_start    loan_end  \
0      46109      home        13672       0    10243  2002-04-16  2003-12-20
1      46109    credit         9794       0    10984  2003-10-21  2005-07-17
2      46109      home        12734       1    10990  2006-02-01  2007-07-05
3      46109      cash        12518       1    10596  2010-12-08  2013-05-05
4      46109    credit        14049       1    11415  2010-07-07  2012-05-21

   rate
0  2.15
1  1.25
2  0.68
3  1.24
4  3.13

In [251]:
# i)
# normalizing ids does not make sense, so only these three:
loans_numeric = loans[["loan_amount","repaid","rate"]]

scaler = MinMaxScaler()

loans_scaled = pd.DataFrame(scaler.fit_transform(loans_numeric),columns=loans_numeric.columns)

# ii)
print("Minimun and maximum values of the numeric columns after scaling:\n")
for col in loans_scaled.columns:
    print(f"{col}:\nMin: {loans_scaled[col].min()}, Max: {loans_scaled[col].max()}")

Minimun and maximum values of the numeric columns after scaling:

loan_amount:
Min: 0.0, Max: 1.0
repaid:
Min: 0.0, Max: 1.0
rate:
Min: 0.0, Max: 1.0